<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User panel</title>
    <link rel="shortcut icon" type="image/png"
          href="https://avatars.mds.yandex.net/i?id=bc97ef2f6266bf31f3060082b2ab57cf-7000993-images-thumbs&n=13&exp=1">
    <link rel="import" href="../intro.html">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

        .st1 {
            border-radius: 5px;
            margin-top: 2vh;
            height: 6vh;
            background-color: #658aea;
        }

        .st2 {
            height: 100vh;
            background-color: #f6f9f3;
        }

        .st3 {
            height: 6vh;
            background-color: #f6f9f3;
        }

    </style>

</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-11 p-2 bg-dark text-white">
            <t class="font-weight-bold ml-2" th:text="${user.getEmail()}">user@mail.ru</t>
            <t class="font-weight-normal">with roles: USER</t>
        </div>
        <form class="col-1 p-2 bg-dark text-right" th:method="POST" th:action="@{/logout}">
            <button class="btn btn-dark text-white-50 btn-sm mr-1" type="submit">Logout</button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 st1 p-2 text-white"><p>User</div>
        <div class="col-10 st2">
            <p></p>
            <h1 style="margin-left: 20px">User information-page</h1>
            <h5 class="col-12 st3 p-2 mb-0 border border-bottom-0 ml-1">About user</h5>
            <div class="border col-12 bg-white ml-1">
                <table class="table table-striped">
                    <p></p>
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${user.getId()}">ID</td>
                        <td th:text="${user.getFirstName()}">First Name</td>
                        <td th:text="${user.getLastName()}">Last Name</td>
                        <td th:text="${user.getAge()}">Age</td>
                        <td th:text="${user.getEmail()}">Email</td>
                        <td>USER</td>
                    <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>

